.App {
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important ;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Fonts */
@font-face {
  font-family: myFirstFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Bold.woff2");
}
@font-face {
  font-family: mySecondFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-SemiBold.woff2");
}
@font-face {
  font-family: myThirdFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Medium.woff2");
}
@font-face {
  font-family: myFourthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/woff2/QanelasSoft-Light.woff2");
}
@font-face {
  font-family: myFifthFont;
  src: url("/src/Fonts/Qanelas-Font-Family/otf/QanelasSoft-Bold.otf");
}
@font-face {
  font-family: mySixthFont;
  src: url("Fonts/Qanelas-Font-Family/ttf/QanelasSoft-Black.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-download {
  color: #fff;
  font-size: 24px;
}
